 {% extends 'student/stud_base.html' %}
 {% block content %}
     {% load static %}
<div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-7 text-center section-heading">
            <h2 class="text-primary heading">Job In Drive</h2>
          </div>
        </div>
      </div>
      <div class="container-fluid block-11 element-animate" align="center">
            <div style="width: 800px">


          <div class="item">
            <div class="block-19">

                <div class="text">
                  <h2 class="heading"><a href="#">{{ com.p_name }}</a></h2>
                  <p class="mb-4">Job Posted By {{ com.company.user.first_name }}</p>
                  <div class="meta d-flex align-items-center">
                    <div class="number">
                      <span>Salary Offered: {{ com.salary }}</span>
                    </div>
<div class="price text-right"><a href="ApplyJob?id={{ id }}&pl={{ pl }}" class="btn btn-primary py-2 px-4">Apply</a></div>                  </div>
                </div>
              </div>
          </div><br><br>

            </div>


    </div>
</div>

 {% endblock %}