{% extends 'admin/admin_base.html' %}
 {% block content %}
     {% load static %}

      {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

      <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/bg.jpg' %});">
      <div class="container">
        <div class="row align-items-center justify-content-center site-hero-inner">
          <div class="col-md-10">

            <div class="mb-5 element-animate">
              <div class="block-17">
                <h2 class="heading text-center mb-4">Welcome ADMIN</h2>

                <p class="text-center mb-5">We have more than 500 courses to improve your skills</p>

              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- END section -->



{% endblock %}